<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>공고 수정</title>
    <link rel="stylesheet" href="../../static/css/colorpalette.css" />
    <link rel="stylesheet" href="../../static/css/global.css" />
    <link rel="stylesheet" href="../../static/css/project_manage_common.css" />
    <link rel="stylesheet" href="../../static/css/project_edit.css" />
  </head>
  <body>
    <!-- 헤더 영역 -->
    <header>
      <div class="header-logo">
        <img
          class="header-logo-img"
          src="../../static/img/logo.svg"
          alt="logo"
        />
        <div class="header-logo-text">
          <span class="logo-desc">당신의 두 번째 커리어 브릿지</span>
          <span class="logo-brand"
            ><span class="RE">RE</span><span class="colon">:</span>Bridge</span
          >
        </div>
      </div>
      <div class="header-profile">
        <!-- TPL:  기업 프로필 이름 -->
        <a>주</a>
      </div>
    </header>

    <!-- 왼쪽 사이드바 -->
    <nav class="sidebar-nav">
      <!-- TPL: href 실제 url 패턴으로 변경 필요 -->
      <!-- TPL: 현재 active 클래스 하드 코딩함. 연동 시 현재 페이지의 active 판단 로직으로 교체 필요  -->
      <!-- TPL: 공고 수정 화면에서는 공고 등록 메뉴 연결 화면을 현재 수정 중인 공고가 되도록 ! -->
      <a
        href="project_edit.html"
        class="nav-menu active"
        data-label="공고 등록"
      >
        공고 등록
      </a>
      <a
        href="project_manage.html"
        class="nav-menu"
        data-label="프로젝트 관리하기"
      >
        프로젝트 관리하기
      </a>
      <a href="#" class="nav-menu" data-label="기업 정보"> 기업 정보 </a>
    </nav>

    <!-- 프로젝트 관리하기 영역 -->
    <div class="project-manage">
      <main class="project-edit-main">
        <form method="post" id="project-create-form">
          <section class="project-form-left">
            <!-- 프로젝트명 -->
            <div class="form-group">
              <label for="project-name" class="form-label-1">
                새 프로젝트 공고 등록
              </label>

              <input
                type="text"
                id="project-name"
                name="title"
                class="form-input"
                value="스타트업 뉴스레터 기획 및 발행"
                placeholder="프로젝트명을 입력하세요"
                maxlength="200"
                required
              />
            </div>

            <!-- 상세 내용 -->
            <div class="form-group">
              <label for="project-detail" class="form-label-2">
                상세 내용
              </label>

              <textarea
                id="project-detail"
                class="form-textarea"
                name="description"
                placeholder="프로젝트의 배경, 주요 업무, 협업 방식 등을 자유롭게 적어주세요"
                required
              >
주 2회 발행되는 스타트업 뉴스레터의 콘텐츠 기획과 카피라이팅을 담당합니다. 매주 화/금 발행 예정입니다.
            </textarea
              >
            </div>

            <!-- 직무 -->
            <div class="form-group">
              <label class="form-label-2"> 직무유형 선택 </label>

              <div class="option-btn-group">
                <label class="option-btn">
                  <input
                    type="radio"
                    name="job_category"
                    value="1"
                    data-job-name="name-1"
                    required
                  />
                  콘텐츠 기획
                </label>
                <label class="option-btn">
                  <input
                    type="radio"
                    name="job_category"
                    value="2"
                    data-job-name="name-2"
                    required
                  />
                  데이터 분석
                </label>
                <label class="option-btn">
                  <input
                    type="radio"
                    name="job_category"
                    value="3"
                    data-job-name="name-3"
                    required
                  />
                  디자인
                </label>
                <label class="option-btn">
                  <input
                    type="radio"
                    name="job_category"
                    value="4"
                    data-job-name="name-4"
                    required
                  />
                  개발
                </label>
              </div>
            </div>

            <!-- 근무 형태 -->
            <div class="form-group">
              <label class="form-label-2"> 근무 형태 선택 </label>

              <div class="option-btn-group">
                <label class="option-btn">
                  <input type="radio" name="work_style" value="1" required />
                  100% 재택
                </label>
                <label class="option-btn">
                  <input type="radio" name="work_style" value="2" required />
                  주 1회 출근
                </label>
                <label class="option-btn">
                  <input type="radio" name="work_style" value="3" required />
                  주 3회 이상 출근
                </label>
                <label class="option-btn">
                  <input type="radio" name="work_style" value="4" required />
                  매일 출근
                </label>
              </div>
            </div>

            <!-- 주간 가용 시간 -->
            <div class="form-group">
              <label class="form-label-2"> 가용 시간 (주 0시간) </label>

              <div class="option-btn-group">
                <label class="option-btn">
                  <input type="radio" name="weekly_hours" value="1" required />
                  주 15시간 미만
                </label>
                <label class="option-btn">
                  <input type="radio" name="weekly_hours" value="2" required />
                  주 15시간~25시간
                </label>
                <label class="option-btn">
                  <input type="radio" name="weekly_hours" value="3" required />
                  주 25시간 이상
                </label>
              </div>
            </div>

            <!-- 코어타임 -->
            <div class="form-group">
              <label class="form-label-2">
                코어타임 (소통 선호 시간대)

                <span class="form-label-des"> 복수 선택 가능 </span>
              </label>

              <div class="option-btn-group">
                <label class="option-btn core-time-btn">
                  <input
                    type="checkbox"
                    name="core_times"
                    value="early_morning"
                  />
                  <span class="core-time-label">이른 아침</span>
                  <span class="core-time-range">07:00~10:00</span>
                </label>
                <label class="option-btn core-time-btn">
                  <input type="checkbox" name="core_times" value="morning" />
                  <span class="core-time-label">오전</span>
                  <span class="core-time-range">10:00~14:00</span>
                </label>
                <label class="option-btn core-time-btn">
                  <input type="checkbox" name="core_times" value="afternoon" />
                  <span class="core-time-label">오후</span>
                  <span class="core-time-range">14:00~18:00</span>
                </label>
                <label class="option-btn core-time-btn">
                  <input type="checkbox" name="core_times" value="evening" />
                  <span class="core-time-label">저녁</span>
                  <span class="core-time-range">18:00~22:00</span>
                </label>
              </div>
            </div>

            <!-- 업무 규모 -->
            <div class="form-group">
              <label class="form-label-2">
                업무 규모

                <span class="form-label-des"> 복수 선택 가능 </span>
              </label>

              <div class="option-btn-group">
                <label class="option-btn">
                  <input
                    type="checkbox"
                    name="preferred_scales"
                    value="SHORT"
                  />
                  1~2주 단기
                </label>
                <label class="option-btn">
                  <input type="checkbox" name="preferred_scales" value="LONG" />
                  1개월 이상 중기
                </label>
                <label class="option-btn">
                  <input
                    type="checkbox"
                    name="preferred_scales"
                    value="REGULAR_TRANSITION"
                  />
                  정규직 전환 전제 (리턴십)
                </label>
              </div>
            </div>

            <!-- 경력 연차 -->
            <div class="form-group">
              <label class="form-label-2"> 선호 경력 연차 </label>

              <div class="option-btn-group">
                <!-- TPL:  (경력 연차 버튼 반복) -->
                <label class="option-btn"
                  ><input
                    type="radio"
                    name="career_years"
                    value="ONE_TO_THREE"
                    required
                  />
                  1~3년</label
                >
                <label class="option-btn"
                  ><input
                    type="radio"
                    name="career_years"
                    value="THREE_TO_FIVE"
                    required
                  />
                  3~5년</label
                >
                <label class="option-btn"
                  ><input
                    type="radio"
                    name="career_years"
                    value="FIVE_TO_SEVEN"
                    required
                  />
                  5~7년</label
                >
                <label class="option-btn"
                  ><input
                    type="radio"
                    name="career_years"
                    value="OVER_SEVEN"
                    required
                  />7년 이상</label
                >
              </div>
            </div>

            <!-- 필수 스킬 -->
            <div class="form-group">
              <label class="form-label-2">
                필수 스킬

                <span class="form-label-des"> 중복 선택 가능 (필수) </span>
              </label>

              <p class="skill-guide-msg" id="required-skill-guide">
                직무를 먼저 선택해주세요
              </p>

              <div id="required-skill-wrapper"></div>
            </div>

            <!-- 우대 스킬 -->
            <div class="form-group">
              <label class="form-label-2">
                우대 스킬

                <span class="form-label-des"> 필수 스킬 중에서 선택 가능 </span>
              </label>

              <p class="skill-guide-msg" id="preferred-skill-guide">
                필수 스킬을 먼저 선택해주세요
              </p>

              <div id="preferred-skill-wrapper"></div>
            </div>

            <button class="create-project-btn" type="submit" disabled>
              공고 등록하기
            </button>
          </section>

          <!-- 우측 -->
          <section class="project-form-right">
            <!-- 모집 인원 -->
            <div class="form-group">
              <label for="recruit-count" class="form-label-3">
                모집 인원
              </label>

              <div class="input-unit-wrap">
                <input
                  type="number"
                  min="1"
                  step="1"
                  id="recruit-count"
                  name="recruit_count"
                  class="form-input"
                  value="5"
                  placeholder="예: 1"
                  required
                />
              </div>
            </div>

            <!-- 보수 금액 -->
            <div class="form-group">
              <label for="pay-amount" class="form-label-3">
                보수 금액(시급)
              </label>

              <div class="input-unit-wrap">
                <input
                  type="number"
                  min="0"
                  step="100"
                  id="pay-amount"
                  name="compensation_amount"
                  class="form-input"
                  value="55,000"
                  placeholder="예: 25000"
                  required
                />
              </div>
            </div>

            <!-- 모집 마감일 -->
            <div class="form-group">
              <label for="deadline-date" class="form-label-3">
                모집 마감일
              </label>

              <input
                type="date"
                id="deadline-date"
                name="deadline"
                class="form-input"
                value=""
                required
              />
            </div>

            <!-- 프로젝트 기간 -->
            <div class="form-group">
              <label for="project-period" class="form-label-3">
                프로젝트 기간
              </label>

              <input
                type="text"
                id="project-period"
                class="form-input"
                name="duration"
                value=""
                placeholder="예: 07.20 ~ 08.15"
                maxlength="100"
                required
              />
            </div>

            <!-- 추가 사항: DB에는 저장하지 않지만 UI는 유지 -->
            <div class="form-card" id="additional-info">
              <p class="card-title">추가 사항</p>

              <textarea
                class="form-textarea"
                name="additional_info"
                placeholder="추가적인 상세 업무/우대사항이 있다면 적어주세요"
              >
금요일에는 이른 퇴근이 가능합니다^^
              </textarea>
            </div>

            <!-- 숨은 능력 등록 -->
            <div class="form-card" id="hidden-ability">
              <p class="card-title">숨은 능력 등록</p>
              <p class="card-subtitle">매칭 기준 가중치 설정</p>
              <p class="card-des card-des--first">
                보유 스킬 외 숨은 능력을 추가로<br />
                등록하면 경력자들과 매칭률이 높아져요
              </p>

              <p class="card-des card-des--second">높은 매칭률을 유지하여</p>

              <p class="card-des badge-des">
                <span class="badge">
                  <img
                    class="badge-img"
                    src="../../static/img/trophy.svg"
                    alt=""
                  />

                  <span class="badge-text">우수기업</span>
                </span>

                <span>선정을 노려볼까요?</span>
              </p>

              <button
                class="modal-open-btn"
                id="hidden-ability-open-btn"
                type="button"
                disabled
              >
                추가하기
              </button>
            </div>
          </section>
        </form>
      </main>
    </div>
  </body>
</html>
