/* 헤더 영역 */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: var(--color-bg-default);
  padding: 20px;

  border-bottom: 1px solid var(--color-bg-guide);
}

.header-wrap {
  padding: 17px 20px;
}

/* 로고 영역 */
.header-logo {
  display: flex;
  align-items: center;
}

.header-logo-text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 12px;
}

.logo-desc {
  color: var(--color-brand-desc);
  font-size: 0.5rem;
  font-weight: 200;
  line-height: normal;
}

.logo-brand {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--color-brand-purple);
}

.RE {
  color: var(--color-text-primary);
}

.colon {
  color: var(--color-brand-cyan);
}

/* 메뉴 영역 */
.header-menu {
  margin-right: auto;
  margin-left: 55px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-menu a {
  color: var(--color-text-muted);
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 0px;
}

.header-menu a:hover {
  color: var(--color-primary);
  font-weight: 700;
  letter-spacing: 0.01px;
}

.header-menu a:after {
  content: "attr(data-label)";
  font-weight: 700;
  display: block;
  height: 0px;
  visibility: hidden;
}

.header-menu span {
  display: inline-block;
  align-items: center;
  line-height: 40px;
  border-bottom: 3px solid var(--color-bg-default);
}

.header-menu span:hover {
  border-bottom: 3px solid var(--color-primary);
}

.header-profile {
  display: inline-block;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-primary);
  border-radius: 50%;
  background-color: var(--color-primary-light);

  padding: 10px 14px;
}

.header-profile a {
  color: var(--color-primary-dark);
  font-size: 0.9rem;
  font-weight: 700;
}

/* 왼쪽 사이드바 */
nav {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 100vh;
  background-color: var(--color-bg-default);
  padding: 26px 24px;
  gap: 20px;
  border-right: 1px solid var(--color-bg-guide);
}

nav h4 {
  margin: 0px;
  color: var(--color-text-primary);
  font-weight: 700;
  font-size: 1rem;
  padding: 0px 10px;
}

nav input[type="checkbox"] {
  appearance: none;
  outline: none;

  width: 16px;
  height: 16px;
  margin: 10px;

  border: 1px solid var(--color-border-input);
  border-radius: 5px;
  background-color: var(--color-bg-default);

  vertical-align: middle;
  cursor: pointer;
}

nav input[type="checkbox"]:checked {
  border-color: var(--color-primary);
  background-color: var(--color-primary);

  background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4.5L4.5 8L11 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 8px;
}

nav > div {
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-border-line);
}

/* 필터 영역 */
.search-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.search-reset {
  color: var(--color-primary);
  font-size: 0.75rem;
  font-weight: 400;
  cursor: pointer;
  padding: 0px 10px;
}

.search-bar {
  width: 212px;
  height: 40px;

  background-color: var(--color-bg-default);

  border: 1px solid var(--color-border-input);
  border-radius: 10px;
  padding: 12px 14px;
  margin: 0px;
}

.search-bar::placeholder {
  color: var(--color-text-disabled);
}

/* 근무 형태 */
.work-type {
  border-bottom: none;
}
