/* 헤더 */
.header-menu {
  display: flex;
  margin-right: auto;
  margin-left: 60px;
  align-items: center;
  gap: 40px;
}

.header-menu a {
  color: var(--color-text-muted);
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  white-space: nowrap;

  line-height: 40px;
  border-bottom: 3px solid transparent;
}

.header-menu a:hover {
  color: var(--color-primary);
  font-weight: bold;
  border-bottom: 3px solid var(--color-primary);
  letter-spacing: 0.2px;
}

.header-menu a::after {
  content: attr(data-label);
  display: block;
  height: 0;
  visibility: hidden;
  font-weight: bold;
}

.found {
  width: 87.55px;
}

.header-profile {
  display: inline-block;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-primary);
  border-radius: 50%;
  background-color: var(--color-primary-light);

  padding: 10px 14px;
  cursor: pointer;
}

.header-profile a {
  color: var(--color-primary-dark);
  font-size: 0.9rem;
  font-weight: 700;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 1.31rem;
  margin-left: 100px;
  gap: 2.5rem;
}

/* 목록으로 버튼 */
.back-btn,
.select-desc {
  color: var(--color-text-disabled);
  font-size: 0.8125rem;
  font-weight: 400;
  margin: 0px;
}

.back-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: auto;
  gap: 3px;

  .ellipse {
    width: 8px;
    height: 8px;
    background-color: aquamarine;
    border-radius: 50%;
  }
}

.back-btn:hover {
  color: #374151;

  .ellipse {
    display: block;
  }
}

/* 매칭률, 마감일, 조회수 */
.project-status {
  display: flex;
  justify-content: space-between;
}

.status-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.matching-rate,
.matching-rate.low {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 14px;
  border-radius: 20px;

  font-size: 0.8125rem;
  font-weight: 700;
  gap: 3px;
}

.matching-rate {
  background-color: var(--color-error-bg);
  color: var(--color-error);
}

.matching-rate.low,
.matching-rate.low p {
  background-color: var(--color-bg-subtle);
  color: var(--color-text-secondary);
}

.due-date {
  color: var(--color-text-disabled);
  font-size: 0.6875rem;
  font-weight: 400;
}

/* 상세페이지 메인 */
.project-main {
  min-width: 740px;
  max-width: 740px;
}

.detail-header {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 2.13rem;
  border-bottom: 1px solid var(--color-bg-guide);
}

.project-info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.project-title {
  color: var(--color-text-primary);
  font-size: 1.5rem;
  font-weight: 700;
}

.project-type-wrap {
  color: var(--color-text-muted);
  font-size: 0.8125rem;
  font-weight: 400;
}

.detail-main {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 2.13rem 0rem;
}

.detail-main section {
  display: flex;
  flex-direction: column;
  gap: 0.62rem;
}

.detail-main section > h3 {
  color: var(--color-text-primary);
  font-size: 1rem;
  font-weight: 700;
}

.detail-main section > p,
section > ul {
  color: var(--color-text-muted);
  font-size: 0.8125rem;
  font-weight: 400;
}

.detail-overview > p {
  width: 30rem;
  word-break: keep-all;
}

.dot-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.69rem;
  padding-left: 5px;
  list-style: none;
}

.dot-list li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.dot-list li::before {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: currentColor;
  flex-shrink: 0;
  color: var(--color-primary);
}

.project-term {
  display: flex;
  gap: 1rem;
}

.project-term div {
  display: flex;
  flex-direction: column;
  width: 10.625rem;
  height: 5rem;
  padding: 0.81rem;
  background-color: var(--color-bg-default);
  border: 1px solid var(--color-border-light);
  border-radius: 10px;
  gap: 0.62rem;
}

.project-term h3 {
  color: var(--color-text-muted);
  font-size: 0.6875rem;
  font-weight: 400;
}

.project-term p {
  color: var(--color-text-primary);
  font-size: 0.875rem;
  font-weight: 700;
}

.skill-gap-wrap {
  display: flex;
  flex-direction: column;
  width: 20rem;
  min-height: 17.375rem;
  height: auto;

  background-color: var(--color-bg-default);
  border: 1px solid var(--color-border-light);
  border-radius: 15px;
  padding: 1.19rem;
  gap: 0.5rem;
  margin: 2.4rem 0rem;
}

.skill-gap-wrap h2 {
  font-size: 1rem;
  font-weight: 700;
}

.skill-gap-wrap small {
  font-size: 0.6875rem;
  font-weight: 400;
  color: var(--color-text-disabled);
}

.skill-gap-section {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--color-border-line);
}

.skill-gap-section h3 {
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--color-text-primary);
}

.skill-gap-section li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.625rem;
  font-weight: 400;
  color: #8d9095;
}

.skill-gap-section ul {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.25rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.skill-gap-section ul:empty {
  display: none;
}

.get-skill li,
.none-skill li {
  padding: 0.31rem 0.63rem;
  border-radius: 20px;
  font-weight: 700;
  font-size: 0.625rem;
}

.get-skill li {
  background-color: var(--color-success-bg);
  color: var(--color-success);
}

.none-skill li {
  background-color: var(--color-bg-subtle);
  color: #8d9095;
}

.skill-status {
  display: flex;
  font-size: 0.6875rem;
  font-weight: 700;
}

.get {
  color: var(--color-success);
}

.none {
  color: #8d9095;
}

.apply-btn {
  width: 100%;
  height: 3.25rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-primary);
  color: var(--color-bg-default);
  border-radius: 10px;
  margin-bottom: 0.44rem;
  cursor: pointer;
}

.attach-btn {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg-guide);
  border-radius: 10px;
  margin-bottom: 0.44rem;

  color: var(--color-bg-default);
}

.apply-btn:disabled {
  background-color: var(--color-bg-guide);
  color: var(--color-text-disabled);
  cursor: not-allowed;
}

.attach-text {
  font-size: 0.6875rem;

  display: flex;
  justify-content: center;
  color: var(--color-text-disabled);
}

/* 모달 */

.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: var(--color-bg-default);
  border-radius: 15px;
  padding: 2rem;
  width: 400px;
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .modal-close {
    font-size: 30px;
    color: var(--color-text-disabled);
  }

  .modal-close:hover {
    font-size: 30px;
    color: var(--color-text-primary);
  }
}

.modal-header h2 {
  font-size: 17px;
}

.modal-content small {
  display: flex;
  font-size: 12px;
  font-weight: 400;
  color: var(--color-text-muted);
  margin-bottom: 15px;
}

.attach-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 180px;

  background-color: var(--color-bg-page);
  color: var(--color-primary);
  border-radius: 12px;
  border: 2px dashed var(--color-border-input);
  margin: 15px 0px;
  gap: 10px;

  cursor: pointer;
}

.plus-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  font-size: 20px;
  font-weight: 700;

  background-color: var(--color-primary-light);
  border: 2px solid var(--color-primary);
  border-radius: 50%;
}

.btn-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.btn-wrap button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 44px;
  margin: 15px 0px;

  border-radius: 8px;

  font-size: 14px;
  font-weight: 700;
}

.btn-cancel {
  border: 1px solid var(--color-border-input);
  color: var(--color-text-primary);
}

.btn-submit {
  border: 1px solid var(--color-border-input);
  background-color: var(--color-border-input);
  color: var(--color-text-disabled);
}

.btn-submit.attached {
  border: 1px solid var(--color-bg-guide);
  background-color: var(--color-bg-guide);
  color: var(--color-text-primary);
}

.btn-wrap button:hover {
  background-color: var(--color-primary-light);
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  cursor: pointer;
}

.attach-count {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color-border-line);
}

#fileList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#fileList li {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  background-color: var(--color-bg-page);
  border: 1px solid var(--color-bg-guide);
  border-radius: 10px;
  padding: 10px;

  font-size: 13px;
  font-weight: 700;
  color: var(--color-text-primary);
}

#fileList button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: 100;
  color: var(--color-text-muted);
}

.plus-file {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  margin: 20px 0px;

  font-weight: 700;
  font-size: 12px;

  color: var(--color-primary);
  border-radius: 12px;
  border: 2px dashed var(--color-border-input);
  cursor: pointer;
}

.hidden {
  display: none;
}
