<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>RE:Bridge</title>
    <link rel="stylesheet" href="../../static/css/colorpalette.css" />
    <link rel="stylesheet" href="../../static/css/global.css" />
    <link rel="stylesheet" href="../../static/css/project_detail.css" />
  </head>
  <body>
    <!-- 헤더 영역 -->
    <header>
      <div class="header-logo">
        <img
          class="header-logo-img"
          src="../../static/img/logo.svg"
          alt="logo"
        />
        <div class="header-logo-text">
          <span class="logo-desc">당신의 두 번째 커리어 브릿지</span>
          <span class="logo-brand"
            ><span class="RE">RE</span><span class="colon">:</span>Bridge</span
          >
        </div>
      </div>
      <div class="header-menu">
        <a data-label="프로젝트 찾기" class="found">프로젝트 찾기</a>
        <a data-label="마이페이지">마이페이지</a>
      </div>
      <div class="header-profile">
        <a>양</a>
      </div>
    </header>

    <main>
      <!-- 프로젝트 상세화면  -->
      <div class="project-main">
        <div class="detail-header">
          <a class="back-btn" href="../../worker/templates/project_list.html"
            >← 목록으로
            <div class="ellipse hidden"></div
          ></a>

          <section class="project-status">
            <div class="matching-rate">
              <img src="../../static/img/heart-filled.svg" />
              <!--TPL: (매칭률) -->
              <p>92%</p>
            </div>
            <div class="status-detail">
              <p class="due-date">마감 D-5</p>
              <p class="due-date">· 조회 128</p>
            </div>
          </section>

          <section class="project-info">
            <!--TPL: 프로젝트명 -->
            <p class="project-title">
              커머스 앱 상세페이지 UX기획 및 문구 교정
            </p>

            <!--프로젝트 정보 요약(카드의 왼쪽 영역)-->
            <div class="project-type-wrap">
              <!--TPL: 기업명 -->
              <span class="type-company">(주)브릿지커머스 · </span>

              <!--TPL: 직무명 -->
              <span class="type-career">콘텐츠기획 · </span>

              <!--TPL: 근무형태 -->
              <span class="type-work">재택</span>
            </div>
          </section>
        </div>

        <div class="detail-main">
          <section class="detail-overview">
            <h3>프로젝트 개요</h3>
            <!-- TPL: 프로젝트 개요  -->
            <p>
              자사 커머스 앱의 상품 상세페이지 UX 구조를 개선하고, 소비자
              친화적인 문구로 다듬는 작업입니다. 기존 화면 분석과 카피 교정까지
              포함됩니다. 주 2회 정기 미팅(온라인) 진행 예정이에요.
            </p>
          </section>
          <section>
            <!-- TPL: 필수 조건  -->
            <h3>필수 조건</h3>
            <ul class="dot-list">
              <li>엑셀 기본 활용 가능</li>
              <li>콘텐츠 기획 또는 카피라이팅 경험 1년 이상</li>
              <li>주 10시간 이상 작업 가능</li>
            </ul>
          </section>
          <section>
            <!-- TPL: 우대 조건  -->
            <h3>우대 조건</h3>
            <ul class="dot-list">
              <li>Figma 사용 경험</li>
            </ul>
          </section>
          <section>
            <!-- TPL: 근무 조건  -->
            <h3>근무 조건</h3>
            <div class="project-term">
              <div>
                <!-- TPL: 근무 기간(규모)  -->
                <h3>규모</h3>
                <p>3주 프로젝트</p>
              </div>
              <div>
                <!-- TPL: 근무형태  -->
                <h3>근무형태</h3>
                <p>재택</p>
              </div>
              <div>
                <!-- TPL: 가용시간  -->
                <h3>가용시간</h3>
                <p>주 15시간</p>
              </div>
              <div>
                <!-- TPL: 보수  -->
                <h3>보수</h3>
                <p>시급 25,000원</p>
              </div>
            </div>
          </section>
        </div>
      </div>

      <!-- 오른쪽 지원탭 -->
      <nav>
        <article class="skill-gap-wrap">
          <h2>스킬 갭 분석</h2>
          <small>기업이 요구하는 조건과 비교했어요</small>

          <section class="skill-gap-section">
            <h3>보유 스킬</h3>
            <!-- TPL: 보유스킬  -->
            <ul class="get-skill">
              <li><img src="../../static/img/ellipse-green.svg" />엑셀</li>
              <li>
                <img src="../../static/img/ellipse-green.svg" />파워포인트
              </li>
            </ul>
            <!-- TPL: 미보유 스킬  -->
            <ul class="none-skill">
              <li><img src="../../static/img/ellipse-gray.svg" />Figma</li>
              <li>
                <img src="../../static/img/ellipse-gray.svg" />데이터 분석
              </li>
            </ul>
          </section>

          <section class="skill-gap-section">
            <h3>숨은 능력</h3>
            <!-- TPL: 숨은 능력 중 보유 스킬 -->
            <ul class="get-skill">
              <li>
                <img src="../../static/img/ellipse-green.svg" />커뮤니티 매니징
              </li>
            </ul>
            <!-- TPL: 숨은 능력 중 미보유 스킬  -->
            <ul class="none-skill">
              <li><img src="../../static/img/ellipse-gray.svg" />SNS 마케팅</li>
            </ul>
          </section>
          <!-- TPL: 보유, 미보유 개수  -->
          <section class="skill-status">
            <p class="get">3개 보유 ·</p>
            <p class="none">3개 미보유</p>
          </section>
        </article>

        <button type="submit" class="apply-btn btn-hover">지원하기</button>

        <button class="attach-btn openModalBtn">+</button>
        <small class="attach-text">이력서 첨부하기</small>

        <div id="modal" class="modal-overlay hidden">
          <div class="modal-content">
            <div class="modal-header">
              <h2>지원 서류 제출</h2>
              <button class="modal-close closeModalBtn">&times;</button>
            </div>

            <small class="attach-desc">이력서, 자기소개서, 포트폴리오 파일을 첨부해주세요</small>

            <div class="attach-box">
              <input
                type="file"
                id="fileInput"
                multiple
                accept=".pdf,.ppt,.pptx,.jpg,.jpeg,.png"
                hidden
              />
              <div class="plus-icon">+</div>
              <p>파일을 드래그하거나 클릭해서 업로드</p>
              <small>PDF · PPT · JPG · PNG (최대 10MB)</small>
            </div>
            <ul id="fileList"></ul>

            <div class="plus-file hidden">
              <input
                type="file"
                id="fileInput"
                multiple
                accept=".pdf,.ppt,.pptx,.jpg,.jpeg,.png"
                hidden
              />
              + 파일 추가
            </div>
            <small class="attach-count">첨부 파일 (0/5)</small>
            <div class="btn-wrap">
              <button class="btn-cancel closeModalBtn">취소</button>
              <button class="btn-submit">제출하기</button>
            </div>
          </div>
        </div>
      </nav>
    </main>
  </body>
  <script src="../../static/js/project_detail.js"></script>
</html>
