<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>RE:Bridge</title>
    <link rel="stylesheet" href="../../static/css/colorpalette.css" />
    <link rel="stylesheet" href="../../static/css/global.css" />
    <link rel="stylesheet" href="../../static/css/project_list.css" />
  </head>
  <body>
    <!-- 헤더 영역 -->
    <header>
      <div class="header-logo">
        <img
          class="header-logo-img"
          src="../../static/img/logo.svg"
          alt="logo"
        />
        <div class="header-logo-text">
          <span class="logo-desc">당신의 두 번째 커리어 브릿지</span>
          <span class="logo-brand"
            ><span class="RE">RE</span><span class="colon">:</span>Bridge</span
          >
        </div>
      </div>
      <div class="header-menu">
        <a>프로젝트 찾기</a>
        <a>마이페이지</a>
      </div>
      <div class="header-profile">
        <a>양</a>
      </div>
    </header>

    <div class="page-wrap">
      <!-- 왼쪽 사이드바 -->
      <nav>
        <!--필터 영역-->
        <div class="search">
          <div class="search-title">
            <h4>필터</h4>
            <span class="search-reset">초기화</span>
          </div>
          <!--TPL: project.title (프로젝트 명 내에서 키워드 검색 -> 해당 키워드 들어간 프로젝트만 표시) -->
          <form action="" method="get" class="search-form">
            <input type="input" class="search-bar" placeholder="키워드 검색" />
          </form>
        </div>

        <!--TPL: (직무 필터, 근무형태 필터 폼) -->
        <form action="" method="get">
          <!--직무 선택-->
          <fieldset class="career">
            <legend>직무</legend>

            <!--TPL: job_category.name (직무명 불러오기) -->
            <label
              ><input name="" class="checkbox" type="checkbox" />콘텐츠
              기획</label
            >
            <label><input type="checkbox" />데이터 분석</label>
            <label><input type="checkbox" />디자인</label>
            <label><input type="checkbox" />개발</label>
          </fieldset>

          <!--근무 형태 선택-->
          <fieldset class="work-type">
            <legend>근무 형태</legend>

            <!-- TPL: project.work_style (근무형태 값에 따라 해당 항목 checked 처리) -->
            <label>
              <input type="checkbox" name="work_style" />
              재택
            </label>

            <label>
              <input type="checkbox" name="work_style" />
              출근
            </label>

            <label>
              <input type="checkbox" name="work_style" />
              혼합
            </label>
          </fieldset>
        </form>
      </nav>

      <!-- 프로젝트 리스트(유저용 메인화면) -->
      <main class="project-main">
        <div class="project-title-bar">
          <div class="bar-left">
            <h4>프로젝트 찾기</h4>

            <!-- TBL: 상태(project.status)가 모집중인 총 프로젝트 개수 삽입-->
            <span
              >총 <span>24</span>건의 프로젝트 · 나와 잘 맞는 순으로 정렬되어
              있어요</span
            >
          </div>

          <!-- TBL:  -->
          <div class="bar-sort">
            <!-- TPL: request.GET.sort (정렬 기준값: matching(임의추가)/deadline/created_at) -->
            <a class="sort1" href="?sort=matching">매칭률순</a>
            <a class="sort2" href="?sort=deadline">마감임박순</a>
            <a class="sort3" href="?sort=latest">최신순</a>
          </div>
        </div>

        <!--TBL: 프로젝트 목록 -->
        <div class="card-wrap">
          <!--하나의 article이 하나의 프로젝트 카드입니다.-->
          <!--TBL: project (프로젝트 목록 반복) -->
          <article class="project-card">
            <section class="project-info">
              <!--TBL: project.title (프로젝트명) -->
              <p class="project-title">
                커머스 앱 상세페이지 UX기획 및 문구 교정
              </p>

              <!--프로젝트 정보 요약(카드의 왼쪽 영역)-->
              <div class="project-type-wrap">
                <!--TBL: company_profile.company_name (기업명) -->
                <span class="type-company">(주)브릿지커머스 · </span>
                <!--TBL: job_category.name (직무명) -->
                <span class="type-career">콘텐츠기획 · </span>
                <!--TBL: project.work_style (근무 형태) -->
                <span class="type-work">재택 · </span>
                <!--TBL: project.weecly_hours (주간 가용 시간) -->
                <span class="type-time">주 15시간 · </span>
                <!--TBL: project.ompensation_amount (보수 금액) -->
                <span class="type-pay">시급 25,000원 · </span>
                <!--TBL: project.project_type (업무 지원 유형) -->
                <span class="type-keyword"
                  >엑셀, 커뮤니티 운영, SNS콘텐츠기획</span
                >
              </div>
            </section>

            <!--프로젝트 상태(카드의 오른쪽 영역)-->
            <section class="project-status">
              <div class="matching-rate">
                <img src="../../static/img/heart-filled.svg" />
                <!--TBL: (매칭률) -->
                <p>92%</p>
              </div>
              <!--TBL: project.deadlind (마감일) -->
              <p class="due-date">마감 D-9</p>
            </section>
          </article>

          <!-- 하기 article은 모두 추후 연동 시 삭제 예정 -->
          <article class="project-card">
            <section class="project-info">
              <p class="project-title">
                커머스 앱 상세페이지 UX기획 및 문구 교정
              </p>

              <!--프로젝트 정보 요약(카드의 왼쪽 영역)-->
              <div class="project-type-wrap">
                <span class="type-company">(주)브릿지커머스 · </span>
                <span class="type-career">콘텐츠기획 · </span>
                <span class="type-work">재택 · </span>
                <span class="type-time">주 15시간 · </span>
                <span class="type-pay">시급 25,000원 · </span>
                <span class="type-keyword"
                  >엑셀, 커뮤니티 운영, SNS콘텐츠기획</span
                >
              </div>
            </section>

            <!--프로젝트 상태(카드의 오른쪽 영역)-->
            <section class="project-status">
              <div class="matching-rate">
                <img src="../../static/img/heart-filled.svg" />
                <p>92%</p>
              </div>
              <p class="due-date">마감 D-9</p>
            </section>
          </article>
          <article class="project-card">
            <section class="project-info">
              <p class="project-title">
                커머스 앱 상세페이지 UX기획 및 문구 교정
              </p>

              <!--프로젝트 정보 요약(카드의 왼쪽 영역)-->
              <div class="project-type-wrap">
                <span class="type-company">(주)브릿지커머스 · </span>
                <span class="type-career">콘텐츠기획 · </span>
                <span class="type-work">재택 · </span>
                <span class="type-time">주 15시간 · </span>
                <span class="type-pay">시급 25,000원 · </span>
                <span class="type-keyword"
                  >엑셀, 커뮤니티 운영, SNS콘텐츠기획</span
                >
              </div>
            </section>

            <!--프로젝트 상태(카드의 오른쪽 영역)-->
            <section class="project-status">
              <div class="matching-rate">
                <img src="../../static/img/heart-filled.svg" />
                <p>87%</p>
              </div>
              <p class="due-date">마감 D-9</p>
            </section>
          </article>
          <article class="project-card">
            <section class="project-info">
              <p class="project-title">
                커머스 앱 상세페이지 UX기획 및 문구 교정
              </p>

              <!--프로젝트 정보 요약(카드의 왼쪽 영역)-->
              <div class="project-type-wrap">
                <span class="type-company">(주)브릿지커머스 · </span>
                <span class="type-career">콘텐츠기획 · </span>
                <span class="type-work">재택 · </span>
                <span class="type-time">주 15시간 · </span>
                <span class="type-pay">시급 25,000원 · </span>
                <span class="type-keyword"
                  >엑셀, 커뮤니티 운영, SNS콘텐츠기획</span
                >
              </div>
            </section>

            <!--프로젝트 상태(카드의 오른쪽 영역)-->
            <section class="project-status">
              <div class="matching-rate">
                <img src="../../static/img/heart-filled.svg" />
                <p>87%</p>
              </div>
              <p class="due-date">마감 D-9</p>
            </section>
          </article>
          <article class="project-card">
            <section class="project-info">
              <p class="project-title">
                커머스 앱 상세페이지 UX기획 및 문구 교정
              </p>

              <!--프로젝트 정보 요약(카드의 왼쪽 영역)-->
              <div class="project-type-wrap">
                <span class="type-company">(주)브릿지커머스 · </span>
                <span class="type-career">콘텐츠기획 · </span>
                <span class="type-work">재택 · </span>
                <span class="type-time">주 15시간 · </span>
                <span class="type-pay">시급 25,000원 · </span>
                <span class="type-keyword"
                  >엑셀, 커뮤니티 운영, SNS콘텐츠기획</span
                >
              </div>
            </section>

            <!--프로젝트 상태(카드의 오른쪽 영역)-->
            <section class="project-status">
              <div class="matching-rate-middle">
                <img src="../../static/img/good-one.svg" />
                <p>78%</p>
              </div>
              <p class="due-date">마감 D-9</p>
            </section>
          </article>
          <article class="project-card">
            <section class="project-info">
              <p class="project-title">
                커머스 앱 상세페이지 UX기획 및 문구 교정
              </p>

              <!--프로젝트 정보 요약(카드의 왼쪽 영역)-->
              <div class="project-type-wrap">
                <span class="type-company">(주)브릿지커머스 · </span>
                <span class="type-career">콘텐츠기획 · </span>
                <span class="type-work">재택 · </span>
                <span class="type-time">주 15시간 · </span>
                <span class="type-pay">시급 25,000원 · </span>
                <span class="type-keyword"
                  >엑셀, 커뮤니티 운영, SNS콘텐츠기획</span
                >
              </div>
            </section>

            <!--프로젝트 상태(카드의 오른쪽 영역)-->
            <section class="project-status">
              <div class="matching-rate-middle">
                <img src="../../static/img/good-one.svg" />
                <p>78%</p>
              </div>
              <p class="due-date">마감 D-9</p>
            </section>
          </article>
          <article class="project-card">
            <section class="project-info">
              <p class="project-title">
                커머스 앱 상세페이지 UX기획 및 문구 교정
              </p>

              <!--프로젝트 정보 요약(카드의 왼쪽 영역)-->
              <div class="project-type-wrap">
                <span class="type-company">(주)브릿지커머스 · </span>
                <span class="type-career">콘텐츠기획 · </span>
                <span class="type-work">재택 · </span>
                <span class="type-time">주 15시간 · </span>
                <span class="type-pay">시급 25,000원 · </span>
                <span class="type-keyword"
                  >엑셀, 커뮤니티 운영, SNS콘텐츠기획</span
                >
              </div>
            </section>

            <!--프로젝트 상태(카드의 오른쪽 영역)-->
            <section class="project-status">
              <div class="matching-rate">
                <img src="../../static/img/heart-filled.svg" />
                <p>92%</p>
              </div>
              <p class="due-date">마감 D-9</p>
            </section>
          </article>
        </div>

        <!--클릭 시 6개씩 프로젝트 공고 노출되게 구현-->
        <section class="project-more">
          <button class="more-button" type="button">프로젝트 더보기</button>
        </section>
      </main>
    </div>
  </body>

  <script src="../../static/js/project_list.js"></script>
</html>
