<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>REBridge</title>
    <link rel="stylesheet" href="../../static/css/colorpalette.css" />
    <link rel="stylesheet" href="../../static/css/global.css" />
    <link rel="stylesheet" href="../../static/css/project_list.css" />
  </head>
  <body>
    <header>
      <div class="header-logo">
        <img
          class="header-logo-img"
          src="../../static/img/logo.svg"
          alt="logo"
        />
        <div class="header-logo-text">
          <span class="logo-desc">당신의 두 번째 커리어 브릿지</span>
          <span class="logo-brand"
            ><span class="RE">RE</span><span class="colon">:</span>Bridge</span
          >
        </div>
      </div>
      <div class="header-menu">
        <a data-label="프로젝트 찾기"><span>프로젝트 찾기</span></a>
        <a data-label="마이페이지"><span>마이페이지</span></a>
      </div>
      <div class="header-profile">
        <a>양</a>
      </div>
    </header>
    <nav></nav>
    <main class="main"></main>
  </body>
</html>
