<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/colorpalette.css" />
    <link rel="stylesheet" href="../../static/css/global.css" />
    <link rel="stylesheet" href="../../static/css/worker_onboarding.css" />
    <title>worker onboarding step1</title>
  </head>
  <body>
    <header>
      <div class="header-logo">
        <img
          class="header-logo-img"
          src="../../static/img/logo.svg"
          alt="logo"
        />
        <div class="header-logo-text">
          <span class="logo-desc">당신의 두 번째 커리어 브릿지</span>
          <span class="logo-brand"
            ><span class="RE">RE</span><span class="colon">:</span>Bridge</span
          >
        </div>
      </div>
    </header>
    <main class="onboarding-main">
      <a
        class="back-btn"
        href="../../onboarding/templates/worker_onboarding_step1.html"
        >← 이전
        <div class="ellipse hidden"></div
      ></a>

      <!--스텝 1~4 순서대로 active 누적 적용-->
      <div class="step-bar">
        <span class="step active"></span>
        <span class="step active"></span>
        <span class="step"></span>
        <span class="step"></span>
      </div>
      <small class="step-tatus">2/4단계</small>
      <h3 class="step1-desc">보유하신 스킬을 선택해주세요</h3>
      <p class="select-desc">선택하신 직무를 기반으로 추천 스킬을 보여드려요</p>

      <form method="post">
        <div class="career-wrap">
          <input type="radio" name="job_type" id="content" />
          <label for="content" class="btn-hover">콘텐츠 기획</label>
          <input type="radio" name="job_type" id="data" />
          <label for="data" class="btn-hover">데이터 분석</label>
          <input type="radio" name="job_type" id="design" /><label
            for="design"
            class="btn-hover"
            >디자인</label
          >
          <input type="radio" name="job_type" id="develop" /><label
            for="develop"
            class="btn-hover"
            >개발</label
          >
        </div>
        <!--TPL: 온보딩 step2로 이동-->
        <button type="submit" class="next-btn btn-hover">다음</button>
      </form>
    </main>
  </body>

  <script src="../../static/js/w_onboarding.js"></script>
</html>
