<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/colorpalette.css" />
    <link rel="stylesheet" href="../../static/css/global.css" />
    <link rel="stylesheet" href="../../static/css/worker_onboarding.css" />
    <title>worker onboarding step1</title>
  </head>
  <body>
    <header>
      <div class="header-logo">
        <img
          class="header-logo-img"
          src="../../static/img/logo.svg"
          alt="logo"
        />
        <div class="header-logo-text">
          <span class="logo-desc">당신의 두 번째 커리어 브릿지</span>
          <span class="logo-brand"
            ><span class="RE">RE</span><span class="colon">:</span>Bridge</span
          >
        </div>
      </div>
    </header>
    <main class="onboarding-main">
      <a
        class="back-btn"
        href="../../onboarding/templates/worker_onboarding_step1.html"
        >← 이전
        <div class="ellipse hidden"></div
      ></a>

      <!--스텝 1~4 순서대로 active 누적 적용-->
      <div class="step-bar">
        <span class="step active"></span>
        <span class="step active"></span>
        <span class="step"></span>
        <span class="step"></span>
      </div>
      <small class="step-tatus">2/4단계</small>
      <h3 class="step1-desc">보유하신 스킬을 선택해주세요</h3>
      <p class="select-desc">선택하신 직무를 기반으로 추천 스킬을 보여드려요</p>

      <form method="post" id="step2-form" class="step2-form">
        <!--TPL: 보유 스킬 -->
        <h2>보유 스킬</h2>
        <div class="skills-wrap">
          <input type="checkbox" name="skills" id="skill_excel" />
          <label for="skill_excel" class="btn-hover">엑셀</label>
          <input type="checkbox" name="skills" id="skill_ppt" />
          <label for="skill_ppt" class="btn-hover">파워포인트</label>
          <input type="checkbox" name="skills" id="skill_sns" /><label
            for="skill_sns"
            class="btn-hover"
            >SNS 콘텐츠</label
          >
          <input type="checkbox" name="skills" id="skill_copy" /><label
            for="skill_copy"
            class="btn-hover"
            >카피라이팅</label
          >
          <input type="checkbox" name="skills" id="skill_data" /><label
            for="skill_data"
            class="btn-hover"
            >데이터 분석</label
          >
          <input type="checkbox" name="skills" id="skill_slack" />
          <label for="skill_slack" class="btn-hover">Slack</label>

          <input type="checkbox" name="skills" id="skill_notion" />
          <label for="skill_notion" class="btn-hover">Notion</label>

          <input type="checkbox" name="skills" id="skill_jira" />
          <label for="skill_jira" class="btn-hover">Jira</label>

          <input type="checkbox" name="skills" id="skill_zoom" />
          <label for="skill_zoom" class="btn-hover">Zoom</label>
        </div>

        <!--TPL: 경력 연차 -->
        <h2>경력 연차</h2>
        <div class="years-wrap">
          <input type="radio" name="career_years" id="career_1" />
          <label for="career_1" class="btn-hover">1~3년</label>
          <input type="radio" name="career_years" id="career_3" />
          <label for="career_3" class="btn-hover">3~5년</label>
          <input type="radio" name="career_years" id="career_5" /><label
            for="career_5"
            class="btn-hover"
            >5~7년</label
          >
          <input type="radio" name="career_years" id="career_7" /><label
            for="career_7"
            class="btn-hover"
            >7년 이상</label
          >
        </div>

        <!--TPL: 주요 성과 키워드 -->
        <h2>주요 성과 키워드</h2>

        <input
          type="text"
          class="achievement-keywords"
          name="achievement_keywords"
          placeholder="예: 팀 프로젝트 리딩, 매출 20% 증가 기여"
        />

        <!--TPL: 숨은 경력 -->
        <h2>경력 공백기 동안 했던 활동이 있나요?</h2>

        <input
          type="text"
          class="gap-activities"
          maxlength="100"
          name="gap_activities"
          placeholder="예: 맘카페 운영, 공동구매, 학교 행사 기획"
        />

        <!--TPL: 온보딩 step2로 이동-->
        <button
          type="submit"
          maxlength="100"
          id="step2-next-btn"
          class="next-btn btn-hover"
          disabled
        >
          다음
        </button>
      </form>
    </main>
  </body>

  <script src="../../static/js/w_onboarding.js"></script>
</html>
