<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/colorpalette.css" />
    <link rel="stylesheet" href="../../static/css/global.css" />
    <link rel="stylesheet" href="../../static/css/login.css" />
    <title>Document</title>
  </head>
  <body>
    <main class="login-main">
      <div class="logo-wrap">
        <div class="main-logo">
          <img
            class="header-logo-img"
            src="../../static/img/logo.svg"
            alt="logo"
          />

          <span class="logo-brand"
            ><span class="RE">RE</span><span class="colon">:</span>Bridge</span
          >
        </div>
        <span class="positioning"
          >경력의 공백을 실력으로 잇는 프로젝트 매칭 네트워크</span
        >
      </div>
      <small class="select-desc">아래에서 유형을 선택해주세요</small>

      <!-- TPL: google_login_url (Google OAuth 로그인 시작 URL) -->
      <section class="select-user-type">
        <a href="">
          <span>경력자로 시작</span>
          <small>프로젝트를 찾고 있어요</small>
        </a>
        <a>
          <span>기업으로 시작</span>
          <small>인재를 찾고 있어요</small>
        </a>
      </section>
    </main>
  </body>
</html>
